/* Tema escuro elegante */
.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link {
    color: #e0e0e0;
    transition: color 0.3s ease-in-out;
}

    .navbar-dark .navbar-nav .nav-link:hover {
        color: #ffcc00;
    }

/* Botões */
.btn-primary {
    background-color: #ffcc00;
    border-color: #ffaa00;
    color: #121212;
}

    .btn-primary:hover {
        background-color: #ffaa00;
        border-color: #ff9900;
    }

/* Links */
a {
    color: #ffcc00;
    transition: color 0.3s ease-in-out;
}

    a:hover {
        color: #ffaa00;
    }

/* Rodapé */
.footer-dark {
    background-color: #181818;
    padding: 20px 0;
    text-align: center;
    color: #e0e0e0;
}

    .footer-dark a {
        color: #ffcc00;
        text-decoration: none;
    }

        .footer-dark a:hover {
            color: #ffaa00;
        }

/* Responsividade */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

        .navbar-nav .nav-item {
            margin-bottom: 10px;
        }
}
