@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Shopping</h3>
    <img src="~/images/ferramenta-loja-virtual.jpg" class="img-loja" asp-append-version="true" />
</div>
